body{
	background-color: #0b0c10;
}

body video{
	position: absolute;
	top: 0;
	left:0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0.15;
    pointer-events: none;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: 'Galada', cursive;
}
/* .navbar{
	background-color:#000;
	border-bottom: 1px solid #fff;
 	opacity: 1;

} */
.navbar-brand
{
	position: relative;
	font-size: 2em;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 5px;
	text-decoration: none;

}
.navbar-brand span
{
	color:#000066;
	text-shadow: 0 0 10px rgba(102,252,241,1),
                 0 0 10px rgba(102,252,241,1);
}
  a h1:hover{
	color:#fff;
	text-shadow: 0 0 5px rgba(102,252,241,.5),
                 0 0 5px rgba(102,252,241,.5);
}
.navbar-toggler{
  position: absolute;
	margin-left: 120px;

}
/* .navbar-toggler-icon
{
	background-color: #000;
	border:1px solid #fff; */

}
header div{
	border:2px solid #000;
}
 header div a {
	color:#00ccff;
	background-color: #000;
	font-size: 1.5em;
	letter-spacing: 4px;
	text-align: center;
	border-bottom: 1px solid #fff;
}
header div a.active,
 header div a:hover{
 	color:#fff;
 	text-shadow: 0 0 10px rgba(102,252,241,.5),
                 0 0 10px rgba(102,252,241,.5);
  border-bottom: 1px solid #fff;
	box-shadow: 0 0 0px rgba(102,252,241,1),
                0 0 0px rgba(102,252,241,1),
                0 0 0px rgba(102,252,241,1),
                inset 0 0 10px rgba(102,252,241,2);
 }
header span{
	max-width: 60px;
	cursor:pointer;
}
header span img{
	max-width: 100%;
}
/* header{
	position: absolute;
	top: 0;
	left:0;
	width:100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px 100px;
	z-index: 1000;
}
header .logo {
	position: relative;
	font-size: 2em;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 5px;
	text-decoration: none;

}
header .logo span{
	color:#000066;
	text-shadow: 0 0 10px rgba(102,252,241,1),
                 0 0 10px rgba(102,252,241,1);

} */

.banner{
	position: relative;
	width: 100%;
	min-height: 100%;
	padding:0 100px;
	display: flex;
	justify-content: flex-start;
	align-items: center;

}
/* .strips:before{
	content: '';
	position: absolute;
	right:0;
	top: 0;
	width: 110px;
	height: 100%;
	background: #00004d;
	transform-origin: top;
	transform: skewX(-25deg);
	z-index: 1;
}
.strip:before{
	content: '';
	position: absolute;
	right:150px;
	top: 0;
	width: 110px;
	height: 100%;
	background: #00004d;
	transform-origin: top;
	transform: skewX(-25deg);
	z-index: 1;
}

.banner:before{
	content: '';
	position: absolute;
	right:450px;
	top: 0;
	width: 110px;
	height: 100%;
	background: #00004d;
	transform-origin: center;
	transform: skewX(-25deg);
	z-index: 1;
} */

/* .banner video{
	position: absolute;
	top: 0;
	left:0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0.15;
    pointer-events: none;
} */
.banner .textBox{
	position: relative;
	max-width: 600px;
	z-index: 2;

}
.banner .textBox h2{
	color:#680000;
	font-size: 3em;
	text-shadow: 0 0 10px rgba(204,51,0,1),
                 0 0 10px rgba(204,51,0,1);


}
.banner .textBox p{
	color: #fff;
	font-size: 1.1em;
	margin: 5px 0 25px;

}
.banner .textBox a{
	position: relative;
	display: inline-block;
	background: #fff;
	color: #111;
	padding: 15px 25px;
	text-decoration: none;
	font-size: 1.1em;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 500;

}
.banner .textBox a:hover{
	color:#fff;
	background: #00004d;
	border: 3px solid #fff;
	box-shadow: 0 0 10px rgba(102,252,241,1),
                0 0 10px rgba(102,252,241,1),
                0 0 10px rgba(102,252,241,1),
                inset 0 0 10px rgba(102,252,241,.5);
}

.banner .imgBox{
	position: relative;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	z-index: 2;

}
.banner .imgBox img{
	position: absolute;
	bottom: 0;
	height: 100%;
    z-index: 10000;

}
.sci{
	position: absolute;bottom: 0;
	letter-spacing: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.sci li{
	list-style: none;

}
.sci li a{
	display: inline-block;
	margin-right: 15px;

}
.sci li a img{
	transform:scale(0.5);
	filter: invert(1);
}
@media screen and (min-width:768px)
{
	button,div.collapse{
		display: none;
	}
	#show a{
		display:none;
	}
}

@media(max-width: 1030px) and (min-width:727px){
	body video{
		height:200%;
	}
	header{
		padding:20px 50px;
	}
	.navbar-toggler{
		margin-left: 170px;

	}
	.banner{
		padding:150px 50px 0;
		flex-direction: column;
		overflow: hidden;
	}
	.strips:before{

	    right:100px;
	    top: 0;
	    width: 110px;
	    transform:skewX(-25deg) translateX(50%);
	}
	.strip:before{
		right:0;
	    top: 200px;
	    width: 110px;
		transform:skewX(-25deg) translateX(50%);
	}
	.banner:before{
		right:130px;
	    top: 0;
	    width: 110px;
		transform:skewX(-25deg) translateX(50%);
	}
	.banner .textBox{
		max-width: 100%;
	}
	.sci{
		z-index: 1000;
		left:initial;
		right:20px;
		flex-direction: column;
	}
}
@media(max-width: 728px) and (min-width:655px){
	body video{
		height:200%;
	}
	header{
		padding:20px 50px;
	}
	.navbar-toggler{
		margin-left: 100px;

	}
	.banner{
		padding:150px 50px 0;
		flex-direction: column;
		overflow: hidden;
	}
	.strips:before{

	    right:100px;
	    top: 0;
	    width: 110px;
	    transform:skewX(-25deg) translateX(50%);
	}
	.strip:before{
		right:0;
	    top: 200px;
	    width: 110px;
		transform:skewX(-25deg) translateX(50%);
	}
	.banner:before{
		right:130px;
	    top: 0;
	    width: 110px;
		transform:skewX(-25deg) translateX(50%);
	}
	.banner .textBox{
		max-width: 100%;
	}
	.sci{
		z-index: 1000;
		left:initial;
		right:20px;
		flex-direction: column;
	}
}

@media(max-width: 654px) and (min-width:545px) {

	body video{
		height:200%;
	}
	header{
		padding:10px 50px;
	}

	.navbar-brand h1
	{
		font-size: 30px;
		font-weight: 400;
		letter-spacing: 2px;

	}
	header span img{
		width:70%;
	}
	.navbar-toggler{
    padding-left: 10px;
		margin-left: 90px;

	}


	.banner{
		padding:150px 50px 0;
		flex-direction: column;
		overflow: hidden;
	}
	.strips:before{

	    right:-150px;
	    top: 0px;
	    width: 110px;
	    transform:skewX(-25deg) translateX(50%);
	}
	.strip:before{
		right:-55px;
	    top: 700px;
	    width: 110px;
		transform:skewX(-25deg) translateX(50%);
	}
	.banner:before{
		right:400px;
	    top: 0;
	    width: 110px;
		transform:skewX(-25deg) translateX(50%);
	}
	.banner .textBox{
		max-width: 100%;
	}
	.sci{
		z-index: 1000;
		left:initial;
		right:20px;
		flex-direction: column;
	}
	.banner .imgBox img{
		right:-50px;
	}
}

	@media(max-width: 544px) and (min-width:431px){

		body video{
			height:200%;
		}
		header{
			padding:20px 50px;
		}

		.navbar-brand h1
		{
			font-size: 20px;
			font-weight: 400;
			letter-spacing: 2px;

		}
		header span img{
			width:50%;
		}
		.navbar-toggler{
	    padding-left: 10px;
			margin-left: 40px;

		}
    .banner{
			padding:150px 50px 0;
			flex-direction: column;
			overflow: hidden;
		}
		.strips:before{

		    right:-150px;
		    top: 0px;
		    width: 110px;
		    transform:skewX(-25deg) translateX(50%);
		}
		.strip:before{
			right:-55px;
		    top: 700px;
		    width: 110px;
			transform:skewX(-25deg) translateX(50%);
		}
		.banner:before{
			right:400px;
		    top: 0;
		    width: 110px;
			transform:skewX(-25deg) translateX(50%);
		}
		.banner .textBox{
			max-width: 100%;
		}
		.sci{
			z-index: 1000;
			left:initial;
			right:20px;
			flex-direction: column;
		}
		.banner .imgBox img{
			right:-50px;
		}
}

@media(max-width: 430px) and (min-width: 351px) {

	body video{
		height:200%;
	}

	header{
		padding:20px 50px;
	}

	.navbar-brand h1
	{
		font-size: 25px;
		font-weight: 400;
		letter-spacing: 2px;

	}
	header span img{
		width:40%;
	}
	.navbar-toggler{
		margin-left: 30px;

	}


	.banner{
		padding:150px 50px 0;
		flex-direction: column;
		overflow: hidden;
	}
	.strips:before{

			right:-150px;
			top: 0px;
			width: 110px;
			transform:skewX(-25deg) translateX(50%);
	}
	.strip:before{
		right:-55px;
			top: 700px;
			width: 110px;
		transform:skewX(-25deg) translateX(50%);
	}
	.banner:before{
		right:400px;
			top: 0;
			width: 110px;
		transform:skewX(-25deg) translateX(50%);
	}
	.banner .textBox{
		max-width: 100%;
	}
	.sci{
		z-index: 1000;
		left:initial;
		right:-10px;
		flex-direction: column;
	}
	.banner .imgBox img{
		right:-80px;
	}
}

@media(max-width: 350px) {

 header{
	 padding:20px 50px;
 }

 .navbar-brand h1
 {
	 font-size: 10px;
	 font-weight: 400;
	 letter-spacing: 2px;

 }
 header span img{
	 width:30%;
 }
 .navbar-toggler{
	 margin-left: -17px;

 }


 .banner{
	 padding:150px 50px 0;
	 flex-direction: column;
	 overflow: hidden;
 }
 .strips:before{

		 right:-150px;
		 top: 0px;
		 width: 110px;
		 transform:skewX(-25deg) translateX(50%);
 }
 .strip:before{
	 right:-55px;
		 top: 700px;
		 width: 110px;
	 transform:skewX(-25deg) translateX(50%);
 }
 .banner:before{
	 right:400px;
		 top: 0;
		 width: 110px;
	 transform:skewX(-25deg) translateX(50%);
 }
 .banner .textBox{
	 max-width: 100%;
 }
 .sci{
	 z-index: 1000;
	 left:initial;
	 right:20px;
	 flex-direction: column;
 }
 .banner .imgBox img{
	 right:-50px;
 }
}
