*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: 'Galada', cursive;
}
header{
	position: absolute;
	top: 0;
	left:0;
	width:100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px 100px;
	z-index: 1000;
}
header .logo {
	position: relative;
	font-size: 2em;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 5px;
	text-decoration: none;

}
header .logo span{
	color:#000066;
	text-shadow: 0 0 10px rgba(102,252,241,1),
                 0 0 10px rgba(102,252,241,1);
    
}
header .toggle{
	max-width: 60px;
	cursor:pointer;
}
header .toggle img{
	max-width: 100%;
}
.banner{
	position: relative;
	width: 100%;
	min-height: 100%;
	padding:0 100px;
	background: #111;
	display: flex;
	justify-content: flex-start;
	align-items: center;

}
.strips:before{
	content: '';
	position: absolute;
	right:0;
	top: 0;
	width: 110px;
	height: 100%;
	background: #00004d;
	transform-origin: top;
	transform: skewX(-25deg);
	z-index: 1;
}
.strip:before{
	content: '';
	position: absolute;
	right:150px;
	top: 0;
	width: 110px;
	height: 100%;
	background: #00004d;
	transform-origin: top;
	transform: skewX(-25deg);
	z-index: 1;
}

.banner:before{
	content: '';
	position: absolute;
	right:450px;
	top: 0;
	width: 110px;
	height: 100%;
	background: #00004d;
	transform-origin: center;
	transform: skewX(-25deg);
	z-index: 1;
}

.banner video{
	position: absolute;
	top: 0;
	left:0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0.15;
    pointer-events: none;
}
.banner .textBox{
	position: relative;
	max-width: 600px;
	z-index: 2;

}
.banner .textBox h2{
	color:#680000;
	font-size: 3em;
	text-shadow: 0 0 10px rgba(204,51,0,1),
                 0 0 10px rgba(204,51,0,1);
    

}
.banner .textBox p{
	color: #fff;
	font-size: 1.1em;
	margin: 5px 0 25px;

}
.banner .textBox a{
	position: relative;
	display: inline-block;
	background: #fff;
	color: #111;
	padding: 15px 25px;
	text-decoration: none;
	font-size: 1.1em;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 500;
	
}
.banner .textBox a:hover{
	color:#fff;
	background: #00004d;
	border: 3px solid #fff;
	box-shadow: 0 0 10px rgba(102,252,241,1),
                0 0 10px rgba(102,252,241,1),
                0 0 10px rgba(102,252,241,1),
                inset 0 0 10px rgba(102,252,241,.5);
}

.banner .imgBox{
	position: relative;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	z-index: 2;

}
.banner .imgBox img{
	position: absolute;
	bottom: 0;
	height: 100%;
    z-index: 10000;

}
.sci{
	position: absolute;bottom: 0;
	letter-spacing: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.sci li{
	list-style: none;

}
.sci li a{
	display: inline-block;
	margin-right: 15px;

}
.sci li a img{
	transform:scale(0.5);
	filter: invert(1);
}
@media(max-width: 991px){
	header{
		padding:20px 50px;
	}
	.banner{
		padding:150px 50px 0;
		flex-direction: column;
		overflow: hidden;
	}
	.strips:before{
		width: 30px;
		transform:skewX(-25deg) translateX(50%);
	}
	.strip:before{
		width: 30px;
		transform:skewX(-25deg) translateX(50%);
	}
	.banner:before{
		width: 30px;
		transform:skewX(-25deg) translateX(50%);
	}
	.banner .textBox{
		max-width: 100%;
	}
	.sci{
		z-index: 1000;
		left:initial;
		right:20px;
		flex-direction: column;
	}
}
